label {
	font-weight: bold;
}

body {
	display: table;
	width: 50em;
	margin: auto;
}

h2 {
	column-span: all;
}

.entry {
	display: table-row
}

input[name^="titre_restaurant"] {
	width: 2em;
}

.input, .label {
	display: table-cell;
	width: 40%;
}

.input, input {
	text-align: right;
}

.input {
	padding-right: .25em;
}

.label {
	padding-left: .25em;
	text-align: left;
}
