<head>
	<title>Éditer ma fiche de paie</title>
</head>

<body>
	<h2>Pour mon entreprise</h2>

	<form>
		<div class="entry">
			<div class="input">
				de
				<input name="effectif_entreprise" type="number" min="0" placeholder="1" value="1" step="1" max="9999"/>
			</div>
			<div class="label">
				<label for="effectif_entreprise">salariés <abbr title="Équivalent Temps Plein">ETP</abbr></label>
				<a class="help" href="https://wiki.openfisca.fr/index.php/Taille_d%27entreprise" title="Moyenne sur l'année, au prorata du temps plein.">?</a>,
			</div>
		</div>

		<h2>ma fiche de paie pour un employé</h2>
		en poste depuis le <input type="date" name="contrat_de_travail_arrivee" value="2014-01-01" placeholder="2014-01-01" max="{{todayISO}}">
		<br/>

		<input type="radio" name="type_sal" value="prive_non_cadre" checked="checked">non-cadre
		<input type="radio" name="type_sal" value="prive_cadre">cadre
		<br/>

		payé ce mois

		{{> salary}}

		<br/>

		et bénéficiant de <input name="titre_restaurant_volume" type="number" value="0" min="0" max="31" placeholder="0"> tickets restaurant de <input name="titre_restaurant_valeur_unitaire" type="number" value="8" min="0" max="15" placeholder="8">&nbsp;€ par mois
	</form>


	<h2>est</h2>

	{{> payslip}}
</body>
